@import url(https://fonts.googleapis.com/css?family=Dosis:700);
* {
    justify-content: center;
}

body {
    font-family: "Dosis", Helvetica, Arial, sans-serif;
    background-image: url('/assets/background.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    color: white;
    padding-top: 40px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: underline;
}

p {
    font-size: 1em;
    margin-bottom: 20px;
    text-align: center;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background: rgba(0, 0, 0, 0.8); /* Optional: Add a semi-transparent background for better readability */
    border-radius: 10px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.5em;
    text-align: center;
}

a.button {
    display: inline-block;
    padding: 20px 40px;
    margin: 20px;
    font-size: 24px;
    color: #fff;
    background-color: #e74c3c;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

a.button:hover {
    background-color: #c0392b;
}

button:hover {
    background-color: #c0392b;
}

select, button {
    margin: 10px;
    padding: 10px;
    width: 50%;
}

input[type="range"] {
    display: block;
    -webkit-appearance: none;
    background-color: #bdc3c7;
    width: 80%; /* Make the slider narrower */
    height: 5px;
    border-radius: 5px;
    margin: 0 auto;
    outline: 0;
    margin-bottom: 5rem;
}

input[type="range"]:disabled {
    background-color: #e0e0e0;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #e74c3c;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
    transition: .3s ease-in-out;
}

input[type="range"]:disabled::-webkit-slider-thumb {
    background-color: #c0c0c0;
    cursor: not-allowed;
}

input[type="range"]::-webkit-slider-thumb:hover {
    background-color: white;
    border: 2px solid #e74c3c;
}

input[type="range"]::-webkit-slider-thumb:active {
    transform: scale(1.6);
}

.value {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    width: 80%; /* Match the width of the slider */
    height: 40px;
    line-height: 40px;
    margin: 10px auto;
    letter-spacing: -.07em;
}

button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 16px;
    color: #fff;
    background-color: #e74c3c;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    font-family: "Dosis", Helvetica, Arial, sans-serif;
}

button:disabled {
    background: gray;
    cursor: not-allowed;
}

.table-container {
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background: #000000;
    color: white;
}

tr:nth-child(even) {
    background: #000022;
}

.top-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 50%; /* Adjusted height */
    background-color: #e74c3c;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

.sidebar h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: white;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    display: block;
    padding: 10px;
    background-color: #c0392b;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.sidebar ul li a:hover,
.sidebar ul li a.selected {
    background-color: #511916;
}

.content {
    margin-left: 220px; /* Adjust based on sidebar width */
    flex: 1;
    text-align: center; /* Align content to the center */
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
        margin-bottom: 20px;
    }

    .sidebar ul li a {
        padding: 10px;
        text-align: center;
    }

    .content {
        margin-left: 0;
    }

    input[type="range"] {
        width: 100%; /* Full width on narrow screens */
    }

    .value {
        width: 100%; /* Full width on narrow screens */
    }
}